.argsen-speech-heading-warp{
    text-align: right;
    padding: 1em;
}

.argsen-speech-heading-warp h3{
    display: inline;
}

.argsen-speech-heading-warp img{
    width: 200px;
    margin-left: 30px;
}

.argsen-speech-content-warp{
    text-align: center;
    padding: 1em;
}

.argsen-speech-content-warp h5{
    text-align: left;
}

.argsen-speech-content-warp textarea{
    min-height: 200px;
}

.argsen-speech-content-warp section h5 img{
    width: 150px;
}

.button.button-red,
button.button-red,
input[type="submit"].button-red,
input[type="reset"].button-red,
input[type="button"].button-red {
  color: #FFF;
  background-color: #f43c0b;
  border-color: #f43c0b; }
.button.button-red:hover,
button.button-red:hover,
input[type="submit"].button-red:hover,
input[type="reset"].button-red:hover,
input[type="button"].button-red:hover,
.button.button-red:focus,
button.button-red:focus,
input[type="submit"].button-red:focus,
input[type="reset"].button-red:focus,
input[type="button"].button-red:focus {
  color: #FFF;
  background-color: #f43c0b;
  border-color: #f43c0b; }

.button.button-blue,
button.button-blue,
input[type="submit"].button-blue,
input[type="reset"].button-blue,
input[type="button"].button-blue {
color: #FFF;
background-color: #4c8af2;
border-color: #4c8af2; }
.button.button-blue:hover,
button.button-blue:hover,
input[type="submit"].button-blue:hover,
input[type="reset"].button-blue:hover,
input[type="button"].button-blue:hover,
.button.button-blue:focus,
button.button-blue:focus,
input[type="submit"].button-blue:focus,
input[type="reset"].button-blue:focus,
input[type="button"].button-blue:focus {
color: #FFF;
background-color: #4c8af2;
border-color: #4c8af2; }


.button.button-waston,
button.button-waston,
input[type="submit"].button-waston,
input[type="reset"].button-waston,
input[type="button"].button-waston {
color: #FFF;
background-color: #00a79d;
border-color: #00a79d; }
.button.button-waston:hover,
button.button-waston:hover,
input[type="submit"].button-waston:hover,
input[type="reset"].button-waston:hover,
input[type="button"].button-waston:hover,
.button.button-waston:focus,
button.button-waston:focus,
input[type="submit"].button-waston:focus,
input[type="reset"].button-waston:focus,
input[type="button"].button-waston:focus {
color: #FFF;
background-color: #00a79d;
border-color: #00a79d; }
