<!doctype html>  
<html lang="en">  
    <head>
        <meta name="robots" content="noindex">
        <link rel="stylesheet" type="text/css" href="/components/skeleton/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/components/skeleton/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    </head>
    <body>
        <div class="container argsen-speech-heading-warp">
            <div class="row">
                <h3>Speech Analysis</h3>
                <img src="/public/img/logo.jpg" alt="argsen logo">
            </div> 
            <div class="row">
                <p><a>Please be notified: test server will auto logout after 10 minutes.</a></p>
            </div>
        </div>

        <div class="container argsen-speech-content-warp">
            <section>
                <h5>Message with IBM Watson <img src="/public/img/IBM-Watson.jpg" alt="IBM logo"></h5>         
                <textarea class="u-full-width" placeholder="New Message coming ..." id="Message_waston" cols="30" rows="10" readonly></textarea>
                <div class="row">
                    <div class="one-half column">
                        <button class="button-waston" id="start_to_record_waston">Start Record & Output text
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="one-half column">
                        <button class="button-green" id="clear_record_waston">Clear historical record
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </section>
            <br>
            <section>
                <h5>Message with Google <img src="/public/img/speech-api.png" alt="Google logo"></h5>
                <textarea class="u-full-width" placeholder="New Message coming ..." id="Message_google" cols="30" rows="10" readonly></textarea>
                <div class="row">
                    <div class="one-half column">
                        <button class="button-blue" id="start_to_record_google">Start Record & Output text
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="one-half column">
                        <button class="button-green" id="clear_record_google">Clear historical record
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </section>

        </div>

        <script src="/components/jQuery/dist/jquery.min.js"></script>
        <script src="/components/msr/MediaStreamRecorder.min.js"> </script>  
        <script src="/socket.io/socket.io.js"></script> 
        <script src="/public/js/ENV.js"></script> 
        <script src="/public/js/index.js"></script>        
    </body>
</html>  